/* write css code here */
@import url(https://googleapis.com/css?family=Source+Code+Pro:200,300,400,500,500,700,900);

h1 {
    /* color: purple; */
    font-weight: 200;
}

body {
    background-color: #f69680;
    color: #2E1263;
    font-family: "Source Code Pro";
    font-weight: 2      00;
    

}
